.root{
    display: flex;
    justify-content: space-between;
    margin: 16px;
    margin-top: 4px;
    width: 90%;
}
.image{
    height:64px;
}
.buttonContainer{
    align-self: center;
}
.button{
    border-radius: 12px !important;
    font-size: large !important;
    font-weight: bold !important;
}
@media (max-width:860px){
    .image{
        width: 30%;
        height: 11%;
    }
}